{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Фильтр</title>
</head>
<body>
    <center><h3>Форма для фильтра</h3></center><br>
    <form action="filter_country" method="POST">
    {% csrf_token %}
    Наличие морских курортов {{ form.sea}}<br><br>
    Наличие горнолыжных курортов {{ form.mountain }}<br><br>
    Нужна ли виза беларусам {{ form.visa }}<br><br>
    <center><input type="Submit" name="submit" value="Submit"/></center>
    </form>
</body>
{% endblock content %}