{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
</head>
<body>
    <center><h2>Материки</h2></center><br>
    <center><a href="europe"><h5>Европа</h5></a></center>
    <center><a href="north_america"><h5>Северная Америка</h5></a></center>
    <center><a href="north_america"><h5>Азия</h5></a></center>
    <center><a href="north_america"><h5>Африка</h5></a></center>
    <center><a href="north_america"><h5>Южная Америка</h5></a></center>
    <center><a href="north_america"><h5>Австралия и Океания</h5></a></center><br>

    <center><h3>Полезные ресурсы для путешествий</h3></center><br>
    <center>
        <a href="https://www.aviasales.by/"><img src="https://pics.aviaport.ru/cache/uploads/images/8185/300x/8185671-aviasejls.jpg" width="100" height="100"></a>
        <a href="https://www.booking.com/index.ru.html"><img src="https://avatars.mds.yandex.net/get-zen_doc/1877958/pub_5cbdc257953d9400b3fa0bd2_5cbe9e3e33a36800b48afb5c/scale_1200" width="200" height="100"></a>
        <a href="https://www.couchsurfing.com/"><img src="https://play-lh.googleusercontent.com/EDkVVCeiT9mddoZ2VHvNFFTco5V8mP2x7nIlCrzqN7Iyn6m-q4iJ6m7BHmfdI75JEluF" width="100" height="100"></a>
    </center>
</body>
{% endblock content %}